
a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
}

div #left {
    margin-top: 15px;
    margin-left: 5px;
/*
    background-image: url("bic.jpg");
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */
}

table {
}
td {
    /* background: #444; */
}
td.delete {
    background: black;
}

#data {
    margin-left: 320px;
}

form {
    margin-left: 15px;
    }

