
a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
}

h2 { 
  margin-left: 0px;
}

#container {
  margin-top: 15px;
}

div #left {
    margin-left: 5px;
}
div #left-c {
    margin-left: 10px;
}

div #left-c canvas {
    margin-bottom: 10px;
    box-shadow: 3px 3px 8px #222;
}

#navbar {
  float: right;
  margin: 10px 10px 10px 0px;
}
#gatHolder {
  background-image: url("nbg.png");
  background-position: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 20px;
}
#colorFrame {
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

table {
}
td {
    /* background: #444; */
}
td.delete {
    background: black;
}

#data {
    margin-left: 320px;
}

form {
    margin-left: 15px;
}

